[submodule "external/Depth-Anything-V2"]
	path = external/Depth-Anything-V2
	url = https://github.com/DepthAnything/Depth-Anything-V2
[submodule "external/vggt"]
	path = external/vggt
	url = https://github.com/facebookresearch/vggt
