[submodule "third_party/vggt"]
    path = third_party/vggt
    url = https://github.com/facebookresearch/vggt
[submodule "third_party/UniDepth"]
	path = third_party/UniDepth
	url = https://github.com/lpiccinelli-eth/UniDepth.git
